<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Simple Cart</title>
<!-- Bootstrap Core CSS -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />

<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>
</head>
   <body class="text-center">
      <th:block th:include="/_header"></th:block>
       <th:block th:if="${#session != null && #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}">
             <div th:if= "${#request.getParameter('error') == 'true'}"
                style="color: red; margin: 10px 0px;">
                Login Failed!!!<br /> Reason :
                <span th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}"></span>
             </div>
         </th:block>
      <div class="login-container">

         <br>
         <!-- /login?error=true -->
        
          
         <form method="POST"
            th:action="@{/j_spring_security_check}" class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <input class="form-control" name="userName" placeholder="Username"
			required autofocus />
            <input class="form-control" type="password" name="password" placeholder="Password" required />
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Login" />
         </form>
          <br><br><br>
          <div class="checkbox mb-3">
			<label>
				<h3>User/Password:</h3>
				<ul>
					<li>employee1/123</li>
					<li>manager1/123</li>
				</ul>
			</label>
		</div>
         <span class="error-message" th:utext="${error}"></span>
      </div>
      
       
       <script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script th:src="@{/js/bootstrap.js}"></script>
   </body>
</html>