<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<title>Simple Cart</title>
<!-- Bootstrap Core CSS -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link rel="stylesheet" type="text/css" th:href="@{/product.css}" />
<link
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
	rel="stylesheet">

<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>
</head>
<body>
	<th:block th:include="/_header"></th:block>

	<div class="container">
		<h3 class="h3">Products</h3>
		<div class="row">
			<div th:each="prodInfo : ${paginationProducts.list}"
				class="col-md-4 col-sm-6">
				<div class="product-grid2">
					<div class="product-image2">
						<a href="#"> <img class="pic-1"
							th:src="@{|/productImage?code=${prodInfo.code}|}"> <img
							class="pic-2" th:src="@{|/productImage?code=${prodInfo.code}|}">
						</a>
						<ul class="social">

							<li><a th:href="@{|/buyProduct?code=${prodInfo.code}|}"
								data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
							<li><a th:href="@{|/admin/product?code=${prodInfo.code}|}"
								data-tip="Add to Wishlist"><i class="fa fa-edit"></i></a></li>

						</ul>
						<a class="add-to-cart"
							th:href="@{|/buyProduct?code=${prodInfo.code}|}">Add to cart</a>
					</div>
					<div class="product-content">
						<h3 class="title">
							<span th:utext="${prodInfo.code}"></span> <a href="#"><span
								th:utext="${prodInfo.name}"></span></a>
						</h3>
						<span class="price">$<span
							th:utext="${#numbers.formatDecimal(prodInfo.price,2,2)}"></span></span>
					</div>
				</div>
			</div>


		</div>
		<br />

		<nav aria-label="..." th:if="${paginationProducts.totalPages > 1}">
			<ul class="pagination pagination-lg justify-content-center">
				<th:block th:each="page : ${paginationProducts.navigationPages}">
				<li class="page-item">
						<a th:href="@{|/productList?page=${page}|}" th:if="${page != -1}"
					class="page-link" th:utext="${page}"></a>
					</li>
					<span class="page-link" th:if="${page == -1}"> ... </span>
				
				</th:block>
			</ul>
		</nav>
	</div>

	<th:block th:include="/_footer"></th:block>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script th:src="@{/js/bootstrap.js}"></script>

</body>
</html>