<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
<meta charset="UTF-8">
<title>Simple Cart</title>
<!-- Bootstrap Core CSS -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />

 <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
 </style>
</head>
    
      <th:block th:include="/_header"></th:block>
       
     <div class="page-title">
		<h3 class="text-center">Product</h3>
	</div>
      <div th:if="${errorMessage!= null}" class="error-message" th:utext="${errorMessage}">
      </div>
      
      <div class="container">
		<form th:object="${productForm}" th:action="@{/admin/product}"
              method="POST" enctype="multipart/form-data">
			<div class="form-group row">
				<label for="name" class="col-sm-2 col-form-label">Code</label>
				<div class="col-sm-10">
					<input th:field="*{newProduct}" type="hidden" />
					<input th:if="${productForm.newProduct}" class="form-control" type="text"
                     th:field="*{code}" />  
                  <th:block th:if="${!productForm.newProduct}">   
                       <span th:utext="${productForm.code}"></span>   
                       <input type="hidden" th:field="*{code}" />                                       
                  </th:block> 
                   <span class="error-message" th:if="${#fields.hasErrors('code')}" th:errors="*{code}">..</span> 
				</div>
			</div>
			<div class="form-group row">
				<label for="email" class="col-sm-2 col-form-label">Name</label>
				<div class="col-sm-10">
					<input th:field="*{name}" class="form-control" id="name"
						placeholder="Product Name">
					<span class="error-message"
						th:if="${#fields.hasErrors('name')}" th:errors="*{name}">..</span>
				</div>
			</div>

			<div class="form-group row">
				<label for="phone" class="col-sm-2 col-form-label">Price</label>
				<div class="col-sm-10">

					<input th:field="*{price}" class="form-control" placeholder="price" />
					<span class="error-message"
						th:if="${#fields.hasErrors('price')}" th:errors="*{price}">..</span>
				</div>
			</div>

			<div class="form-group row">
				<label for="phone" class="col-sm-2 col-form-label">Image</label>
				<div class="col-sm-10">

					<img th:src="@{|/productImage?code=${productForm.code}|}" width="100"/>

				</div>
			</div>
			
			<div class="form-group row">
				<label for="phone" class="col-sm-2 col-form-label">Upload Image</label>
				<div class="col-sm-10">

					<input type="file" th:field="*{fileData}" />

				</div>
			</div>
			<div class="form-group row">
				<span class="col-sm-2 col-form-label"></span>
				<div class="col-sm-10 text-center">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
		
	</div>
       
      <th:block th:include="/_footer"></th:block>
       <script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script th:src="@{/js/bootstrap.js}"></script>
   </body>
</html>