<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Simple Cart</title>
<!-- Bootstrap Core CSS -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
	rel="stylesheet">

<link rel="stylesheet" type="text/css" th:href="@{/shoppingCart.css}" />
<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>
</head>
<body>
	<th:block th:include="/_header"></th:block>

	<th:block
		th:if="${cartForm == null || cartForm.cartLines == null || cartForm.cartLines.empty}">
		<br><br>
		<div class="container text-center">
		<h2>There is no items in Cart</h2>
		<a th:href="@{/productList}">Show Product List</a>
		</div>
		<br>
	</th:block>

	<th:block
		th:if="${cartForm != null && cartForm.cartLines != null && !cartForm.cartLines.empty}">
		<form method="POST" th:object="${cartForm}"
			th:action="@{/shoppingCart}">
			<table id="cart" class="table table-hover table-condensed">
				<thead>
					<tr>
						<th style="width: 55%">Product</th>
						<th style="width: 10%">Price</th>
						<th style="width: 8%">Quantity</th>
						<th style="width: 12%" class="text-center">Subtotal</th>
						<th style="width: 15%"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cartLineInfo, varStatus : ${cartForm.cartLines}">
						<td data-th="Product">
							<div class="row">
								<div class="col-sm-3 hidden-xs">
									<img
										th:src="@{|/productImage?code=${cartLineInfo.productInfo.code}|}"
										alt="..." width="150" height="100%" class="img-responsive" />
								</div>
								<div class="col-sm-9">
									<h4 class="nomargin">
										Code: <span th:utext="${cartLineInfo.productInfo.code}">
									</h4>
									<input type="hidden"
										th:name="|cartLines[${varStatus.index}].productInfo.code|"
										th:value="${cartLineInfo.productInfo.code}" />

									<p>
										<span th:utext="${cartLineInfo.productInfo.name}"></span>
									</p>
								</div>
							</div>
						</td>
						<td data-th="Price">$<span class="price"
							th:utext="${#numbers.formatDecimal(cartLineInfo.productInfo.price,2,2)}">
						</span></td>
						<td data-th="Quantity"><input type="number"
							class="form-control text-center"
							th:name="|cartLines[${varStatus.index}].quantity|"
							th:value="${cartLineInfo.quantity}"></td>
						<td data-th="Subtotal" class="text-center">$<span
							class="subtotal"
							th:utext="${#numbers.formatDecimal(cartLineInfo.amount,3,2)}"></span></td>
						<td class="actions" data-th="">
							<button class="btn btn-info btn-sm" type="submit"
								value="Update Quantity">
								<i class="fa fa-refresh"></i>
							</button> <a class="btn btn-danger btn-sm"
							th:href="@{|/shoppingCartRemoveProduct?code=${cartLineInfo.productInfo.code}|}">
								<i class="fa fa-trash-o"></i>
						</a>

						</td>
					</tr>
				</tbody>
				<tfoot>

					<tr>
						<td><a th:href="@{/productList}" class="btn btn-warning"><i
								class="fa fa-angle-left"></i> Continue Shopping</a></td>
						<td colspan="2" class="hidden-xs"></td>
						<td class="hidden-xs text-center"><strong>Total
								$<span class="total"
					th:utext="${#numbers.formatDecimal(cartForm.amountTotal,2,2)}"></span></strong></td>

						<td><a class="btn btn-success btn-block"
							th:href="@{/shoppingCartCustomer}">Enter Customer Info</a> <!-- <a href="#" class="btn btn-success btn-block">Checkout
								<i class="fa fa-angle-right"></i>
						</a> --></td>
					</tr>
				</tfoot>
			</table>
		</form>
	</th:block>

	<th:block th:include="/_footer"></th:block>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>