<header xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Online Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/productList}">Product List</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" th:href="@{/shoppingCart}">My Cart</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/orderList}">Order List</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/product}">Create Product</a>
        </li>
 
      </ul>
      <form class="form-inline mt-2 mt-md-0">
       <th:block sec:authorize="isAuthenticated()">
         Hello
         <a th:href="@{/admin/accountInfo}">..</a>
         &nbsp;|&nbsp;
         <a th:href="@{/admin/logout}">Logout</a>
      </th:block>
       <th:block sec:authorize="!isAuthenticated()">
         <a th:href="@{/admin/login}">Login</a>
      </th:block>
      </form>
    </div>
  </nav>
</header>