<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Simple Cart</title>
<!-- Bootstrap Core CSS -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link rel="stylesheet" type="text/css" th:href="@{/shoppingCart.css}" />
<link
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
	rel="stylesheet">
<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>
</head>
<body>
	<th:block th:include="/_header"></th:block>

	<div class="page-title">
		<h3 class="text-center">Confirmation</h3>
	</div>
	<br>
	<br>
	<div class="container">
		<div class="customer-info-container">
			<h3>Customer Information:</h3>
			<ul>
				<li>Name: <span th:utext="${myCart.customerInfo.name}"></span></li>
				<li>Email: <span th:utext="${myCart.customerInfo.email}"></span></li>
				<li>Phone: <span th:utext="${myCart.customerInfo.phone}"></span></li>
				<li>Address: <span th:utext="${myCart.customerInfo.address}"></span></li>
			</ul>
			<h3>Cart Summary:</h3>
			<ul>
				<li>Quantity: <span th:utext="${myCart.quantityTotal}"></span>
				</li>
				<li>Total: $<span class="total"
					th:utext="${#numbers.formatDecimal(myCart.amountTotal,2,2)}">
				</span>
				</li>
			</ul>
		</div>
		<br>
		<form method="POST" th:action="@{/shoppingCartConfirmation}">
			<!-- Edit Cart -->
			<a class="btn btn-primary" th:href="@{/shoppingCart}"> <i
				class="fa fa-arrow-left"></i> Edit Cart
			</a>
			<!-- Edit Customer Info -->
			<a class="btn btn-warning" th:href="@{/shoppingCartCustomer}"> <i
				class="fa fa-user"></i> Edit Customer Info
			</a>
			<!-- Send/Save -->
			<button class="btn btn-success" type="submit">
				<i class="fa fa-angle-right"></i> Checkout
			</button>

		</form>
		<br>
		<div class="container">
			<table id="cart" class="table table-hover table-condensed">
				<thead>
					<tr>
						<th style="width: 65%">Product</th>
						<th style="width: 10%">Price</th>
						<th style="width: 8%">Quantity</th>
						<th style="width: 12%" class="text-center">Subtotal</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cartLineInfo : ${myCart.cartLines}">
						<td data-th="Product">
							<div class="row">
								<div class="col-sm-4 hidden-xs">
									<img
										th:src="@{|/productImage?code=${cartLineInfo.productInfo.code}|}"
										alt="..." width="100%" height="150" class="img-responsive" />
								</div>
								<div class="col-sm-8">
									<h4 class="nomargin">
										Code: <span th:utext="${cartLineInfo.productInfo.code}">
									</h4>

									<p>
										<span th:utext="${cartLineInfo.productInfo.name}"></span>
									</p>
								</div>
							</div>
						</td>
						<td data-th="Price">$<span class="price"
							th:utext="${#numbers.formatDecimal(cartLineInfo.productInfo.price,2,2)}">
						</span></td>
						<td data-th="Quantity"><span th:utext="${cartLineInfo.quantity}"></span></td>
						<td data-th="Subtotal" class="text-center">$<span
							class="subtotal"
							th:utext="${#numbers.formatDecimal(cartLineInfo.amount,2,2)}"></span></td>
						
					</tr>
				</tbody>
				<tfoot>

					<tr>

						<td colspan="3" class="hidden-xs"></td>
						<td class="hidden-xs text-center"><strong>Total
								$1.99</strong></td>

						
					</tr>
				</tfoot>
			</table>
			<div class="product-preview-container"
				th:each="cartLineInfo : ${myCart.cartLines}">
				<ul>
					<li><img class="product-image"
						src="@{|/productImage?code=${cartLineInfo.productInfo.code}|}" />
					</li>
					<li>Code: <span th:utext="${cartLineInfo.productInfo.code}"></span>
						<input type="hidden" name="code"
						th:value="${cartLineInfo.productInfo.code}" />
					</li>
					<li>Name: <span th:utext="${cartLineInfo.productInfo.name}"></span></li>
					<li>Price: $<span class="price"
						th:utext="${#numbers.formatDecimal(cartLineInfo.productInfo.price,2,2)}">
					</span>
					</li>
					<li>Quantity: <span th:utext="${cartLineInfo.quantity}"></span></li>
					<li>Subtotal: $<span class="subtotal"
						th:utext="${#numbers.formatDecimal(cartLineInfo.amount,2,2)}">
					</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<th:block th:include="/_footer"></th:block>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>